<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticProperties="false"
         colors="true"
         cacheDirectory=".phpunit.cache"
         processIsolation="false"
         stopOnFailure="false">
  <testsuites>
    <testsuite name="Behat Api Context Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <coverage>
    <report>
      <clover outputFile="clover.xml"/>
    </report>
  </coverage>
  <source>
    <include>
      <directory>./src</directory>
    </include>
  </source>
</phpunit>
